<%- include('includes/header') %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="<%= a.img %>" alt="<%= a.title %>" style="width: 100%; height: 300px">
            </div>
            <div class="col-12">
                <%- a.content %>
            </div>
        </div>
    </div>
    <%- include('includes/footer') %>